<a href="https://colab.research.google.com/github/cmannava3/Complete-Python-3-Bootcamp/blob/master/numpy_ndarray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a python notebook to work and understand with numpy arrays
Numpy- Numerical Python supports multidimensional arrays over which you cna easily apply math operations.

In [0]:
import numpy as np

In [6]:
distance = [10,15,17,26] #this is a list
time=[0.1,0.2,0.5,0.9] # this is a list which holds time.

print(type(distance))
print(type(time))

<class 'list'>
<class 'list'>

In [8]:
#Now lets convert these lists to numpy arrays.
np_distance=np.array(distance)
np_time=np.array(time)
print(type(np_distance))
print(type(np_time))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [10]:
speed=np_time/np_distance
print(speed)

[0.01       0.01333333 0.02941176 0.03461538]

In [17]:
#linspace command - prints 7 intervals(equal spaced intervals) between 4 and 13(including)
print( np.linspace(4,13,7))

[ 4.   5.5  7.   8.5 10.  11.5 13. ]

In [19]:
#linspace command - prints 3 intervals(equal spaced intervals) between 4 and 13(including)
print( np.linspace(4,13,4))

[ 4.  7. 10. 13.]

In [30]:
#Attributes of ndarray 
#ndim
np_city=np.array(['NYC','LA','Miami','Houston'])
print(np_city)
print(np_city.ndim)  #it is one dimensional array so it gives 1

np_city_withstate=np.array([['NYC','LA','Miami','Houston'],['NY','CA','FL','TX']])
print(np_city_withstate) 
print(np_city_withstate.ndim ) #it is 2 dimensional array so it gives 2.

['NYC' 'LA' 'Miami' 'Houston']
1
[['NYC' 'LA' 'Miami' 'Houston']
 ['NY' 'CA' 'FL' 'TX']]
2

In [32]:
#Attributes of ndarray 
#Shape
print(np_city.shape)#prints ((4,)- because 4 rows and 1 columns)
print(np_city_withstate.shape) #prints ((2,4)- because 2 rows and 4 columns)

(4,)
(2, 4)

In [33]:
#Attributes of ndarray 
#size
print(np_city.size)#prints 4- because 4 elements are present in that array.
print(np_city_withstate.size) #prints 8 because there are 8 elements.

4
8

In [34]:
#Attributes of ndarray 
#dtype
print(np_city.dtype)#prints <U7 as 
print(np_city_withstate.dtype) #prints 8 because there are 8 elements.

<U7
<U7